.navbar-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    padding: 29px 0;
    justify-content: space-between;
}

.navbar-dashboard {
    flex-direction: column;
    align-items: unset;
    padding: 0 156px;
}

.sticky-top {
    background: #ffffff;
}

.navbar-brand {
    margin-right: 24px;
}

input.search-input {
    margin-right: 24px;
    width: 648px;
}

.search-bar {
    padding-right: 122px;
}

.search-btn {
    background-color: #EF5734;
    border-color: #EF5734;
    color: #ffffff;
    font-family: "Poppins500";
}

.search-btn:hover {
    background-color: #EF5734;
    border-color: #EF5734;
}
