.navbar-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    padding: 29px 0;
    justify-content: space-between;
}

.navbar-dashboard {
    flex-direction: column;
    align-items: unset;
    padding: 0 156px;
}

.sticky-top {
    background: #ffffff;
}

.navbar-brand {
    margin-right: 24px;
}

.navigation-header {
    display: flex;
    align-items: center;
}

.main-steps-container {
    display: flex;
    justify-content: center;
}

.cooking-steps-container {
    width: 744px;
}

.steps-detail {
    padding: 20px 0 20px 28px;
}

.steps-done {
    border-left: 2px solid #2BAF2B;
    color: #3D3D3D;
}

.steps-not-done {
    border-left: 2px dashed #C4C4C4;
    color: #C4C4C4;
}

.steps-navigation-title {
    font-family: "Poppins600";
    font-size: 24px;
}

p.steps-title {
    font-family: "Poppins600";
    font-size: 18px;
}

p.steps-description {
    font-family: "Poppins400";
    font-size: 16px;
}

button.btn-step-selesai {
    background-color: #2BAF2B;
    border-color: #2BAF2B;
    color: #ffffff;
    font-family: "Poppins500";
}

button.btn-sajikan {
    background-color: #EF5734;
    border-color: #EF5734;
    color: #ffffff;
    font-family: "Poppins500";
}

.text-selesai {
    font-family: "Poppins500";
    color: #2BAF2B;
}

.line-separator-steps {
    border: 1px solid #EAEAEA;
    padding: 0;
    margin-left: 28px;
}






